
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#tooltip {
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: fit-content;
    padding: 2px;
}

